<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" 
  IgnorableNamespaces="uap mp uap3 uap5">
	
  <Identity
    Name="622PKar.QuizKurs"
    Publisher="CN=B2AF14E8-43FD-463C-83BA-4CEC47122EA2"
    Version="0.2101.27.0" />

  <mp:PhoneIdentity PhoneProductId="fb19c2b7-b594-417a-b038-46d0fbba1401" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>QuizKurs</DisplayName>
    <PublisherDisplayName>PKar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="QuizKurs.App">
      <uap:VisualElements
        DisplayName="QuizKurs"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="QuizKurs"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.appService">
				<uap:AppService Name="com.microsoft.pkar.quizkurs"/>
			</uap:Extension>
			<uap5:Extension
			  Category="windows.appExecutionAlias"
			  Executable="quizkurs.exe"
			  EntryPoint="quizkurs.App">
				<uap5:AppExecutionAlias>
					<uap5:ExecutionAlias Alias="quizkurs.exe" />
				</uap5:AppExecutionAlias>
			</uap5:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="quizkurs">
					<uap:DisplayName>QuizKurs URI scheme</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>

		</Extensions>

	</Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>